* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-shadow: inset 0px 0px 0px 2px #f00;
}

.divide {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  
  .sidebarMenu {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }

  .golden-container {
    display: grid;
    flex: 1;
    padding: 30px 0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(12, 1fr);

    // a grid 3 rows 
    // a grid template of 12 rows that depends on height of the container
    grid-template-rows: repeat(12, 1fr);

    background-color: rgb(4, 255, 0);
    // position: relative;
    // width: 100%;

    .moving-day {
      //grid spans all the way to the end of the container
      grid-column: 1 / -1;
    }

    .task-panel {
      grid-column: 1 / -1;
      grid-row: 2 / -4;
    }
  }

}

.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #ffaf3f;
  
  .with-text {
    display: flex;
    align-items: center;

    span {
      margin: 0 .25rem ;
    }
  }
  
  .profile_picture {
    width: 2rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  div {
    display: flex;
    align-items: center;
    
    button {
      background-color: transparent;
      border: none;
      color: #4f1818;
      margin: 0 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

// hide the sidebar when the screen is small
@media (max-width: 768px) {
  .container {
    .sidebarMenu {
      background-color: #f00;
      display: none;
    }
  }
}