* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-shadow: inset 0px 0px 0px 2px #f00;
}


// scss variables
$navBar-height: 50px;
$sidebar-width: 200px;
$primary-color: #303030;
$secondary-color: #4f1818;
$transition: all 0.3s ease-in-out;

#sidebarMenu {
  // common styles
  background-color: $primary-color;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 100%;
  position: fixed;
  transform: translateX(0);

}

.hidden {
  transform: translateX(-100%);
}

#sidebarMenu {
  transition: $transition;
  position: fixed;
  width: $sidebar-width;
  top: 50px;
  height: calc(100vh - $navBar-height);
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.container {
  transition: $transition;

  position: fixed;
  top:50px;
    overflow: auto;
  left:200px;
  width: calc(100% - $sidebar-width);
  height: calc(100vh - $navBar-height);
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: $navBar-height;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #ffaf3f;
  
  .with-text {
    display: flex;
    align-items: center;

    span {
      margin: 0 .25rem ;
    }
  }
  
  .profile_picture {
    width: 2rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  div {
    display: flex;
    align-items: center;
    
    button {
      background-color: transparent;
      border: none;
      color: #4f1818;
      margin: 0 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

// hide the sidebar when the screen is small
// @media (max-width: 768px) {
//   #sidebarMenu {
//     transform: translateX(-100%);
//   }

//   .container {
//     left: 0;
//     width: 100%;
//   }
// }