* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-shadow: inset 0px 0px 0px 2px #f00;
}

a {
  text-decoration: none;
}

// scss variables
$navBar-height: 50px;
$sidebar-width: 200px;
$text-color: #fff;
$dark-text-color: #ffffff;
$primary-color: #e4a778;
$dark-primary-color: #182a52;
$secondary-color: #fc0303;
$transition: all .3s ease-in-out;

#sidebarMenu {
  background-color: $primary-color;  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 100%;
  left: 0px;
  z-index: 1000;
  position: fixed;
  width: $sidebar-width;
  top: 50px;
  transition: $transition;
  
  &.dark {
    background-color: $dark-primary-color;
    color: $dark-text-color;
    transition: $transition;

    a span{
      transition: $transition;
      color: $dark-text-color;
    }
  }

  a span {
    transition: $transition;
  }

  &.hidden {
    background-color: $secondary-color;
    left: -200px;
  }
}

#container {
  padding: 2rem;
  transition: $transition;
  position: fixed;
  top:50px;
  overflow: auto;
  left: 200px;
  width: 100%;
  height: calc(100vh - $navBar-height);
  width: calc(100% - $sidebar-width);
  
  &.dark {
    background-color: $dark-primary-color;    
    color: $dark-text-color;
  }

  &.expanded {
    width: 100%;
    left: 0px;
  }
}

.navbar {
  position: fixed;
  transition: $transition;
  display: flex;
  width: 100%;
  height: $navBar-height;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #ffaf3f;
  
  &.dark {
    background-color: $dark-primary-color;
    color: $dark-text-color;
    font-size: 1.5rem;
  }

  .with-text {
    display: flex;
    align-items: center;

    span {
      margin: 0 .25rem ;
    }
  }
  
  .profile_picture {
    width: 2rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  div {
    display: flex;
    align-items: center;
    
    button {
      background-color: transparent;
      border: none;
      color: #4f1818;
      margin: 0 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}